@charset "utf-8";
/* CSS Document */
body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0 none;
	margin: 0;
	outline: 0 none;
	padding: 0;
}
html, html a {
	font-size: 100%;
}
audio, canvas, video {
	display: inline-block;
}
ol, ul, li {
	list-style: outside none none;
}
a:focus, input:focus, button:focus {
	outline: 0 none;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: medium none;
	margin: 0;
	padding: 0;
}
.strong {
	font-weight: bold;
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}
button, input {
	border-radius: 0;
	line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="search"] {
	box-sizing: content-box;
}
 button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0 none;
 padding: 0;
}
input[type="radio"], input[type="checkbox"], select {
	opacity: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a:focus {
	color: #444647;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
* {
	outline: medium none;
}
.clearfix::after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
.clear {
	clear: both;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, progress {
	display: block;
	margin: 0;
	padding: 0;
}
body {
	background: #CCC none repeat scroll 0 0;
	color: #333;
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
	background: #fff;
}







body.noScroll {
	overflow: hidden !important;
}
strong, .strong {
	font-weight: 700 !important;
}
em, .em {
	font-style: italic;
}
.upper {
	text-transform: uppercase;
}
.fullwidth {
	width: 100%;
}
/* Colors
   ================================ */
.black {
	color: #232325;
}
.white {
	color: #ffffff;
}
/* Alignment
   ================================ */
.txt-l {
	text-align: left;
}
.txt-c {
	text-align: center;
}
.txt-r {
	text-align: right;
}
.txt-t {
	vertical-align: top;
}
.txt-m {
	vertical-align: middle;
}
.txt-b {
	vertical-align: bottom;
}
.text-white {
	color: #ffffff !important;
}
.text-blue {
	color: #06569b;
}
.text-dark {
	color: #232325;
}
.text-grey {
	color: #969696;
}
.text-green {
	color: #85c442;
}
.text-darkgrey {
	color: #b2b6bf;
}
.text-black {
	color: #232325;
}
.text-red {
	color: #ee142e;
}
/* Text Decoration
   ================================ */
.txt-dec-none {
	text-decoration: none;
}
html {
	height: 100%;
}
/*  Margins
================================ */
/* Begin padding style */
.no-padding {
	padding: 0px;
}
.no-padding-top {
	padding-top: 0px;
}
.has-padding-top-10 {
	padding-top: 10px;
}
.has-padding-top-15 {
	padding-top: 15px;
}
.has-padding-top-20 {
	padding-top: 20px;
}
.has-padding-top-25 {
	padding-top: 25px;
}
.has-padding-top-30 {
	padding-top: 30px;
}
.has-padding-top-35 {
	padding-top: 35px;
}
.has-padding-top-40 {
	padding-top: 40px;
}
.has-padding-top-45 {
	padding-top: 45px;
}
.has-padding-top-50 {
	padding-top: 50px;
}
.no-padding-bottom {
	padding-bottom: 0px !important;
}
.has-padding-bottom-10 {
	padding-bottom: 10px;
}
.has-padding-bottom-15 {
	padding-bottom: 15px;
}
.has-padding-bottom-20 {
	padding-bottom: 20px;
}
.has-padding-bottom-25 {
	padding-bottom: 25px;
}
.has-padding-bottom-30 {
	padding-bottom: 30px;
}
.has-padding-bottom-35 {
	padding-bottom: 35px;
}
.has-padding-bottom-40 {
	padding-bottom: 40px;
}
.has-padding-bottom-45 {
	padding-bottom: 45px;
}
.has-padding-bottom-50 {
	padding-bottom: 50px;
}
.has-padding-bottom-80 {
	padding-bottom: 80px;
}
.no-padding-right {
	padding-right: 0px;
}
.has-padding-right-10 {
	padding-right: 10px;
}
.has-padding-right-20 {
	padding-right: 20px;
}
.no-padding-left {
	padding-left: 0px;
}
.has-padding-left-10 {
	padding-left: 10px;
}
.has-padding-left-20 {
	padding-left: 20px;
}
/* End padding style */
/* Begin Margin style */
.no-margin {
	margin: 0px;
}
.no-margin-top {
	margin-top: 0px !important;
}
.has-margin-top-10 {
	margin-top: 10px;
}
.has-margin-top-15 {
	margin-top: 15px;
}
.has-margin-top-20 {
	margin-top: 20px;
}
.has-margin-top-25 {
	margin-top: 25px;
}
.has-margin-top-30 {
	margin-top: 30px;
}
.has-margin-top-35 {
	margin-top: 35px;
}
.has-margin-top-40 {
	margin-top: 40px;
}
.has-margin-top-45 {
	margin-top: 45px;
}
.has-margin-top-50 {
	margin-top: 50px;
}
.no-margin-bottom {
	margin-bottom: 0px !important;
}
.has-margin-bottom-10 {
	margin-bottom: 10px;
}
.has-margin-bottom-15 {
	margin-bottom: 15px;
}
.has-margin-bottom-20 {
	margin-bottom: 20px;
}
.has-margin-bottom-25 {
	margin-bottom: 25px;
}
.has-margin-bottom-30 {
	margin-bottom: 30px;
}
.has-margin-bottom-35 {
	margin-bottom: 35px;
}
.has-margin-bottom-40 {
	margin-bottom: 40px;
}
.has-margin-bottom-45 {
	margin-bottom: 45px;
}
.has-margin-bottom-50 {
	margin-bottom: 50px;
}
.has-margin-bottom-80 {
	margin-bottom: 80px;
}
.no-margin-right {
	margin-right: 0px;
}
.has-margin-right-10 {
	margin-right: 10px;
}
.has-margin-right-20 {
	margin-right: 20px;
}
.no-margin-left {
	margin-left: 0px;
}
.has-margin-left-10 {
	margin-left: 10px;
}
.has-margin-left-20 {
	margin-left: 20px;
}
.has-margin-left-30 {
	margin-left: 30px;
}
/* End Margin style */
/* Global classes
================================ */
.col-centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.image-covered {
	-webkit-background-size: cover;
	/* Chrome, Safari, Opera */
	-moz-background-size: cover;
	/* Mozilla Firefox */
	-ms-background-size: cover;
	/* IE 9 */
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}



