
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-10 col-xl-11">
        <div class="logo"><a href="index.html">jjj</a></div>
        <div class="topinfo">
          <ul>
            <li>Ask your Question <span>Courseinfo@skillstamps.com</span></li>
            <li>Hangout <span>skillstamps@gmail.com</span></li>
            <li>Skype ID <span>skillstamps</span></li>
          </ul>
        </div>
      </div>
      <div class="col d-none d-lg-block">
        <div class="topsocial">
          <ul>
            <li><a class="fb" href="#">Facebook</a></li>
            <li><a class="in" href="#">Linkedin</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
	<!--Header section end-->
	<!--Body section start-->
	<div class="hmBodyWrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<section class="enroleWrap">
							<h1>Login </h1>
							<ul>
								<form action="dashboard.html" method="get" >
								<li class="left">
									<div class="row">
										<div class="col-sm-12 col-md-5 col-lg-3">
											</div>
											<div class="enroleFormSeciton">
													<div class="row">
														<div class="col-sm-8">
															<label>Email</label>
															<input type="email" [(ngModel)]="loguser.email" name='email' required>
														</div>
                            <div class="col-sm-8">
                              <label>Password</label>
                              <input type="password" [(ngModel)]="loguser.password" name='pass' required>
                            </div>
														<div class="col-sm-5">
															<input type="submit" (click)="loginuser()" value="login" >
														
														</div>
														<a routerLink="/signup">
															<input type="submit" value="Register"> </a> 
													</div>
												</div>
									</div>
								</li>
							</form>
							</ul>
						</section>
</div>
				<div class="col-lg-6">
					<div class="row">
						<div class="col col-sm-6 col-md-3 col-lg-6">
							<article> <i><img src="dist/images/benefits/02.svg" width="56" height="56"  alt=""/></i>
								<p>Hone your skills and be <br/>
									professionally recognizable <br/>
									3X Faster </p>
							</article>
						</div>
						<div class="col col-sm-6 col-md-3 col-lg-6">
							<article> <i><img src="dist/images/benefits/01.svg" width="56" height="56"    alt=""/></i>
								<p>Join Professional Community<br/>
									and build your knowledge <br/>
									with right opportunity</p>
							</article>
						</div>
						<div class="col col-sm-6 col-md-3 col-lg-6">
							<article> <i><img src="dist/images/benefits/03.svg" width="56" height="56"    alt=""/></i>
								<p>Latest Course Structure <br/>
									Designed by Industry evangelist</p>
							</article>
						</div>
						<div class="col col-sm-6 col-md-3 col-lg-6">
							<article> <i><img src="dist/images/benefits/04.svg" width="56" height="67"    alt=""/></i>
								<p>Choose your own certificate <br/>
									in record time</p>
							</article>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
		<!--Body section end-->
		<footer>
			
			<div class="copyrightWrap">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="copyright">© 2012–2017 Skillstamps Professional Certification Foundations All ready registared.</div>
							<div class="topsocial bottom">
								<ul>
										<li><a class="fb" href="https://www.facebook.com/Skillstamps/" target="_blank">Facebook</a></li>
										<li><a class="in" href="https://www.linkedin.com/school/skillstamps/" target="_blank">Linkedin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
