

<!--Home Banner section start-->
<div class="homeBannerWrap">
  <div class="backgroundWrap"> 
    <!--Header section start-->
    
    <div class="fullscreen-bg">
      <video loop muted autoplay poster="../../assets/images/hm-banner-bg.svg" class="fullscreen-bg__video">
        <source src="../../assets/images/Video.mp4" type="video/mp4">
      </video>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-9 col-xl-8">
            <div class="logo"><a href="#">Logo</a></div>
            <div class="topinfo">
              <ul>
                <li>Ask your Question <span>Courseinfo@skillstamps.com</span></li>
                <li>Hangout <span>skillstamps@gmail.com</span></li>
                <li>Skype ID <span>skillstamps</span></li>
              </ul>
            </div>
          </div>
          <div class="col d-none d-sm-block">
            <div class="topsocial">
              <ul>
                <li><a class="fb" href="https://www.facebook.com/Skillstamps/" target="_blank">Facebook</a></li>
                <li><a class="in" href="https://www.linkedin.com/school/skillstamps/" target="_blank">Linkedin</a></li>
              </ul>
            </div>
            <nav class="mainNav">
              <!--<div class="more"><a href="#">More</a></div>
              <div class="menu">
                <ul>
                  <li><a href="#"><span>Careers</span> We are hiring new tilant for us</a></li>
                  <li><a href="#"><span>Franchise</span> Become our Affilated Institute </a></li>
                  <li><a href="#"><span>Help & support</span> If You have any technical or Course 
                    orianted Query </a></li>
                  <li><a href="#"><span>Corporate training</span> Do you looking corporate training for 
                    company</a></li>
                </ul>
              </div>-->
            </nav>
          </div>
        </div>
      </div>
    
    </header>
    <!--Header section end-->
    
    <div class="verticleMiddleContent">
      <section>
        <article>
          <div class="container">
            <div class="row bannerCaption text-center">
              <div class="col">
                <h1>Own your skills set with <br/>
                  accelerated certification</h1>
                <div class="viewWrap">
                  <div class="view"><a href="#courses">View Courses</a></div>
                </div>
                </div>
              </div>
            </div>
        </article>
      </section>
    </div>
    
  </div>
  <div class="bannerBottomContent">
    <div class="container">
      <div class="row">
        <div class="col-6 col-sm-6 col-md-3">
          <article>
            <h1>Increased Profile Visibility</h1>
            <p>Enhance 3X Visibility across,<br/>company 
                looking for Trained champion</p>
          </article>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <article>
            <h1>Skillstamp JobAssist</h1>
            <p>Leverage our HR’s Network built<br/>
                over the year 
                </p>
          </article>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <article>
            <h1>500+ Real-Life Projects</h1>
            <p>Access to more than 500+ Use cases<br/> 
                solved by our expert mentors 
                </p>
          </article>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <article>
            <h1>Faster Sallery Addon</h1>
            <p>According to Indian market average<br/>
                amount certified designer can earn 
                </p>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Home Banner section end--> 

<!--Body section start-->
<div class="hmBodyWrap">
  <div class="container"> 
    
    <!--benefits Seciton start-->
    <div class="benefitsSeciton">
      <div class="row">
        <div class="col">
          <div class="contentWrap">
            <h1>Accelerate your professional career
              with key benefits</h1>
            <div class="row">
              <div class="col col-sm-6 col-md-3 col-lg-6">
                <article> <i><img src="../../assets/images/benefits/02.svg" width="56" height="56"  alt=""/></i>
                  <p>Hone your skills and be <br/>
                    professionally recognizable <br/>
                    3X Faster </p>
                </article>
              </div>
              <div class="col col-sm-6 col-md-3 col-lg-6">
                <article> <i><img src="../../assets/images/benefits/01.svg" width="56" height="56"    alt=""/></i>
                  <p>Join Professional Community<br/>
                    and build your knowledge <br/>
                    with right opportunity</p>
                </article>
              </div>
              <div class="col col-sm-6 col-md-3 col-lg-6">
                <article> <i><img src="../../assets/../../assets/images/benefits/03.svg" width="56" height="56"    alt=""/></i>
                  <p>Latest Course Structure <br/>
                    Designed by Industry evangelist</p>
                </article>
              </div>
              <div class="col col-sm-6 col-md-3 col-lg-6">
                <article> <i><img src="../../assets/images/benefits/04.svg" width="56" height="67"    alt=""/></i>
                  <p>Choose your own certificate <br/>
                    in record time</p>
                </article>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <figure> <img src="../../assets/images/benefits-img.svg" width="528" height="587"  alt=""/> </figure>
        </div>
      </div>
    </div>
    <!--benefits Seciton end--> 
    
    <!--our Course section start-->
    <div id="courses" class="ourCourseWrap">
      <h1>Our Courses</h1>
      <div class="row">
          <div class="col-lg-4">
            <div class="contentWrap">
              <h2>Interaction design (UCD) Certification 
                   </h2>
              <p>High-quality content taught by industry experts. Advanced courses that cover the entire spectrum of UX design.  </p>
              <div class="viewSection"> <span>12 Modules</span>
                <div class="view"><a routerLink="courses/Interaction-Designer-Certification">View Courses</a></div>
              </div>
            </div>
          </div>
          
        <div class="col-lg-4">
          <div class="contentWrap">
            <h2>Big Data & Analytics Certification 
              </h2>
            <p>Learn all Data Science High-quality content taught by industry experts. Advanced courses that cover the entire spectrum of Data & Analytics 
              </p>
            <div class="viewSection"> <span>3 Modules</span>
              <div class="view"><a routerLink="courses/Big-Data-and-Analytics-Certification">View Courses</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contentWrap">
            <h2>Digital Marketing and Analytics </h2>
            <p>All kind of latest marhords of Digital marketing from beginner to advance level on one place </p>
            <div class="viewSection"> <span>16 Modules</span>
              <div class="view"><a href='#'>Coming Soon</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--our Course section end--> 
    
    <!--expersReview section start-->
    <div class="expersReviewWrap">
      <h1>Expers Reviews</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="contentWrap">
            <div class="head">
              <figure><img src="../../assets/images/pic/parkash.jpg" width="221" height="221"></figure>
              <h2>Prakash Dhyani<span>Tech Lead </span></h2>
            </div>
            <p>The way this platform have done its good and prices is also very cheap. Best eLearning site in India, Great Innovation  
</p>              </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="contentWrap">
            <div class="head">
              <figure><img src="../../assets/images/pic/manisha.jpg" width="221" height="221"></figure>
              <h2>Manisha Singh <span>Recruitment Consultant</span></h2>
            </div>
            <p>
                Great Platform for learning best is that they are cove latest trends for industries. Its best suitable for Employers
</p>                
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="contentWrap">
            <div class="head">
              <figure><img src="../../assets/images/pic/madhav.jpg"  width="221" height="221"></figure>
              <h2>Madhav Singh
                  <span>UI/UX,Visual Designe</span></h2>
            </div>
            <p>All important topics had been covered into course modules and new add-on Its really good. I will Join this courses.
</p>              </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="contentWrap">
            <div class="head">
              <figure><img src="../../assets/images/pic/madhuresh.jpg"  width="221" height="221"></figure>
              <h2>Madhuresh Pandey<span>Digital Strategy | Product Management</span></h2>
            </div>
            <p>Right strategies for eLearning concept. Topic of courses are very depth and useful. I expect you will lonch new more couses for professionals</p></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="contentWrap">
              <div class="head">
                <figure><img src="../../assets/images/pic/anupam.jpg"  width="221" height="221"></figure>
                <h2>Anupam Singh <span>UI Consultant</span></h2>
              </div>
              <p>UI Course its all things cover  this I am sure if you will do that your will crack any interview of UI Development 
Good for professionals</p>                </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="contentWrap">
                <div class="head">
                  <figure><img src="../../assets/images/pic/soumik.jpg"  width="221" height="221"></figure>
                  <h2>Soumik Bhaduri
                      <span>CEO at QUEST</span></h2>
                </div>
                <p>eLearning start-up great afford. platform wise its best one I have seen. I like this concept for certifications its easy to use
</p>                  </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="contentWrap">
                  <div class="head">
                    <figure><img src="../../assets/images/pic/sarthak.jpg"  width="221" height="221"></figure>
                    <h2>Sarthak Mishra <span>Senior Sales Counselor </span></h2>
                  </div>
                  <p>I did eLearning course form other website. This is the best what I found you should use this for learning…  Good work
</p>                    </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="contentWrap">
                    <div class="head">
                      <figure><img src="../../assets/images/pic/tejinder.jpg" width="221" height="221"></figure>
                      <h2>Tejinder Singh <span>Senior Manager at Airtel</span></h2>
                    </div>
                    <p>Its sure if you done certification then you will get 3X Visibility on any job portal you can use on LinkedIn and any where else. 
</p>                      </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="contentWrap">
                      <div class="head">
                        <figure><img src="../../assets/images/pic/atul.jpg"width="221" height="221"></figure>
                        <h2>Atul Singh <span>UX & Brand Strategist </span></h2>
                      </div>
                      <p>The all about learning and right knowledge if you do this course sure you will acchive what you want form a certification 
</p>                        </div>
                  </div>


                  

                      
        </div>
      </div>

  </div>
</div>
<!--Body section end-->

<footer>
  <div class="footerTop">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="content">
            <h1><span>HRs Connected</span> 10000+ World Wise</h1>
            <div class="vision">
              <h2>Our Vision</h2>
              <p>Pioneer the revolution in promoting the digital university all across the world  </p>
                </div>
          </div>
          <figure class="map">
            <div class="pulse one">
              <div class="dot"></div>
            </div>
            <div class="pulse two">
              <div class="dot"></div>
            </div>
            <div class="pulse three">
              <div class="dot"></div>
            </div>
            <div class="pulse forth">
              <div class="dot"></div>
            </div>
            <img src="../../assets/images/mapimg.jpg" width="836" height="575"></figure>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrightWrap">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="copyright">© 2012–2017 Skillstamps Professional Certification Foundations All readyregistared.  &nbsp;&nbsp; <a href="terms-condonation.html" >Term & Conditions  </a> &nbsp; <a href="privacy-policy.html" >Privacy Policy</a> &nbsp;  <a href="disclaimer.html">Disclaimer </a></div>
          <div class="topsocial bottom">
            <ul>
              <li><a class="fb" href="https://www.facebook.com/Skillstamps/" target="_blank">Facebook</a></li>
              <li><a class="in" href="https://www.linkedin.com/school/skillstamps/" target="_blank">Linkedin</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

