

<!--Header section start-->
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-10 col-xl-11">
        <div class="logo"><a href="index.html">jjj</a></div>
        <div class="topinfo">
          <ul>
            <li>Ask your Question <span>Courseinfo@skillstamps.com</span></li>
            <li>Hangout <span>skillstamps@gmail.com</span></li>
            <li>Skype ID <span>skillstamps</span></li>
          </ul>
        </div>
      </div>
      <div class="col d-none d-lg-block">
        <div class="topsocial">
          <ul>
            <li><a class="fb" href="#">Facebook</a></li>
            <li><a class="in" href="#">Linkedin</a></li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<!--Header section end--> 

<!--Intro section start-->
<div class="introSection">
  <div class="container">
    <div class="row">
      <div class="col-md-8  col-lg-9">
        <div class="introcontent">
          <h1>Big Data & Analytics <br/>Certification  
           </h1>
          <p>One Stop collection covering all aspect including Latest Trends happening <br/>across the globe in the Data Science world 
            </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="coursesstartime">
          <h1>Coruse start form</h1>
			<div class='countdown' data-date="2018-01-01"></div>
          <div class="eqnuiryNow"><a  routerLink="/signup"> Enrole Now</a></div>
         
          <p>Its Free Course</p>
        </div>
      </div>
    </div>
    <div class="highlightsWrap">
      <div class="contentSection">
        <div class="row fix-gutters">
          <div class="col-md-6 col-lg-3">
            <div class="contentWrap first">
              <h2>Increased Profile Visibility</h2>
              <p>Enhance 3X Visibility across <br/>company 
                  looking for Trained champion</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="contentWrap second">
              <h2>Skillstamp JobAssist</h2>
              <p>ALeverage our HR’s Network built 
                  <br/>over the year 
                  </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="contentWrap third">
              <h2>50+ Real-Life Projects</h2>
              <p>Access to more than 50 Use cases 
                  <br/>solved by our expert mentors 
                  </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="contentWrap forth">
              <h2>Rs.16 lacs - Rs.25 lacs</h2>
              <p>According to Indian market average 
                 <br/> amount certified designer can earn 
                  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Intro section end--> 

<!--Body section start-->
<div class="hmBodyWrap">
  <div class="container"> 
    
    <!--Modules of courses start-->
    <div class="modulesOfcourse">
      <div class="row">
        <div class="col-lg-12">
          <h1>4 Modules inside in this course </h1>
        </div>
      </div>
      <div class="modulesOfcourse_list">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <article> <i>01</i>
              <div class="content">
                <h2>Apache Spark Development                   
                  </h2>
                <p> Park, Spark with Scala ,Java, Python,R, Spark Streaming, SparkSQL, Sparl MLlib, Dataframes
                  </p>
              </div>
            </article>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <article> <i>02</i>
              <div class="content">
                <h2>Bigdata Analytics </h2>
                <p>Introduction of bigdata, Hadoop and its ecosystem, spark, Kafka mongo DB 
                  </p>
              </div>
            </article>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <article> <i>03</i>
              <div class="content">
                <h2>Data Science 
                  </h2>
                <p> R, Python, Data Preparation, EDA, Statistics, Regression, Classification, Clustering, Neural Network
                  </p>
              </div>
            </article>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <article> <i>04</i>
              <div class="content">
                <h2>Course Evaluation 
                  </h2>
                <p>Work on Latest Products modules on industries. Build your own confidence  </p>
              </div>
            </article>
          </div>
          
          
         
          
        </div>
      </div>
    </div>
    <!--Modules of courses start--> 
    
    <!--About course section start-->
    <div class="aboutCourseWrap">
      <div class="row">
        <div class="col-md-7 col-lg-8">
          <div class="aboutCouseContent">
            <h1>About this Course</h1>
            <section class="aboutaccordian">
              <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                  <div class="card-header first" role="tab" id="headingOne">
                    <h5 class="mb-0"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> What are the objectives of Big Data & Analytics Certification ? </a> </h5>
                  </div>
                  <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block">
                      <p>Opportunities for data scientists one of today’s hottest jobs are rapidly growing in response to the exponential amounts of data being captured and analyzed. Companies hire data scientists to find insights and to solve meaningful business problems. Get the real-world knowledge and hands-on experience that can help you succeed in one of these new jobs.</p>
                          
                        <p>Get started on your data science journey, as you learn what it takes to become a Data Scientist. Learn to work with and explore data using a variety of visualization, analytical, and statistical techniques.</p> 
                         
                         <p>Explore tools that enable the analysis of more data than ever before, with improved visualizations and more sophisticated business logic. Learn how to import data from different sources, create mashups between data sources, and prepare data for analysis.</p> 
                         </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> What do I need to do to unlock my Skillstamps certificate? </a> </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                      <p>
                        - First attand Online Classroom module wise<br/>
                        - Compleate all Lesion of module for certification<br/>
                        - Successful completion and Examination <br/> </p></div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Who should take this Course?</a> </h5>
                  </div>
                  <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-block"><p>
                        - Developers aspiring to be a 'Data Scientist' or Machine Learning engineers<br/>
                        - Analytics Managers who are leading a team of analysts<br/> 
                        - Business Analysts who want to understand data science techniques<br/>
                        - Information Architects who want to gain expertise in Machine Learning algorithms <br/>
                        - Analytics professionals who want to work in machine learning or artificial intelligence<br/>
                        - Graduates looking to build a career in Data Science and machine learning<br/>
                        - Experienced professionals who would like to harness machine learning in their fields to get more insight about customers</p></div>
                  </div>
                </div>
                
              </div>
            </section>
          </div>
        </div>
        <div class="d-none d-md-block col-md-5  col-lg-4">
          <div class="askQuestionWrap">
            <ul class="downloadWrap">
              <li><a href="#" class="download">Our Process <br/>
                Brochrue</a></li>
                <li><a href="https://www.linkedin.com/school/skillstamps/" target="_blank" class="in">Join our <br/>
                  Community</a></li>
            </ul>
            <form #mainForm="ngForm" id="main-form" class="input-form" novalidate>
              <div class="askQuestion">
                <h2>Ask your Question</h2>
                <ul>
                  <li>
                    <div >
                        <label for="name" [ngClass]="{'active-cl': newQuery?.name}">Full name</label>
                        <input id="name" type="text" [(ngModel)]="newQuery.name" name="name"
                            class="validate" #name="ngModel" required min="0">
                          
                          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                              <p *ngIf="name.errors.required">Name is required.</p>
                          </div>
                    </div>
                  </li>
                  <li>
                      <div >
                          <label for="email" [ngClass]="{'active-cl': newQuery?.email}">Email Address</label>
                          <input id="name" type="email" [(ngModel)]="newQuery.email" name="email"
                              class="validate" #email="ngModel" required min="0">
                            
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                                <p *ngIf="email.errors.required">Email is required.</p>
                            </div>
                      </div>
                  </li>
                  <li>
                      <div  >
                          <label for="phoneNo" [ngClass]="{'active-cl': newQuery?.phoneNo}">Phone No</label>
                          <input id="phoneNo" type="number" [(ngModel)]="newQuery.phoneNo" name="phoneNo"
                              class="validate" #phoneNo="ngModel" required min="0">
                            
                            <div *ngIf="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched)" class="text-danger">
                                <p *ngIf="phoneNo.errors.required">Phone No is required.</p>
                            </div>
                      </div>
                  </li>
                  <li>
                      <div  >
                          <label for="query" [ngClass]="{'active-cl': newQuery?.query}">Ask your Question</label>
                          <textarea id="query" [(ngModel)]="newQuery.query" name="query"
                              class="validate" #query="ngModel" required min="0"></textarea>
                            
                            <div *ngIf="query.invalid && (query.dirty || query.touched)" class="text-danger">
                                <p *ngIf="query.errors.required">Question required.</p>
                            </div>
                      </div>
                    <!-- <label>Ask your Question</label>
                    <textarea [(ngModel)]="newQuery.query" name='query' required></textarea> -->
                  </li>
                  <li>
                    <input type="submit" value="Submit" (click)='askquery()'>
                    <h3 *ngIf="messages" [ngStyle]="{'color':'green'}">{{messages}}</h3>
                    <h3 [ngStyle]="{'color':'red'}" *ngIf="errormsg"> {{errormsg}}</h3>
                  </li>
                  
                </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--About course section end--> 
    
    <!--certificate section start-->
    <div class="certificateWrap">
      <h1>Certifications Include in this Course</h1>
      <div class="row">
        
        <div class="col-xs-12 col-sm-3">
          <figure><img src="../../../assets/images/a.png"></figure>
          <span>Big Data & Analytics</span> </div>
          <div class="col-xs-12 col-sm-3">
            <figure><img src="../../../assets/images/b.png"></figure>
            <span>Apache Spark Development</span> </div>
            <div class="col-xs-12 col-sm-3">
              <figure><img src="../../../assets/images/c.png"></figure>
              <span>Data Science</span> </div>
              <div class="col-xs-12 col-sm-3">
                <figure><img src="../../../assets/images/d.png"></figure>
                <span>Data Analytics</span> </div>
      </div>
    </div>
    <!--certificate section end--> 
    
    <!--expersReview section start-->
    <div class="expersReviewWrap">
      <h1>Experts Reviews</h1>
      <div class="row">
          


                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="contentWrap">
                      <div class="head">
                        <figure><img src="../../../assets/images/pic/madhuresh.jpg"  width="221" height="221"></figure>
                        <h2>Madhuresh Pandey<span>Digital Strategy | Product Management</span></h2>
                      </div>
                      <p>Right strategies for eLearning concept. Topic of courses are very depth and useful. I expect you will lonch new more couses for professionals</p></div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                      <div class="contentWrap">
                        <div class="head">
                          <figure><img src="../../../assets/images/pic/anupam.jpg"  width="221" height="221"></figure>
                          <h2>Anupam Singh <span>UI Consultant</span></h2>
                        </div>
                        <p>UI Course its all things cover  this I am sure if you will do that your will crack any interview of UI Development 
          Good for professionals</p>                </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="contentWrap">
                          <div class="head">
                            <figure><img src="../../../assets/images/pic/soumik.jpg"  width="221" height="221"></figure>
                            <h2>Soumik Bhaduri
                                <span>CEO at QUEST</span></h2>
                          </div>
                          <p>eLearning start-up great afford. platform wise its best one I have seen. I like this concept for certifications its easy to use
          </p>                  </div>
                      </div>


        
                
        </div>
      </div>
    </div>
    
<!--Body section end-->

<footer>
    <div class="footerTop">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="content">
              <h1><span>HRs Connected</span> 10000+ World Wise</h1>
              <div class="vision">
                <h2>Our Vision</h2>
                <p>Pioneer the revolution in promoting the digital university all across the world  </p>
                  </div>
            </div>
            <figure class="map">
              <div class="pulse one">
                <div class="dot"></div>
              </div>
              <div class="pulse two">
                <div class="dot"></div>
              </div>
              <div class="pulse three">
                <div class="dot"></div>
              </div>
              <div class="pulse forth">
                <div class="dot"></div>
              </div>
              <img src="../../../assets/images/mapimg.jpg" width="836" height="575"></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrightWrap">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="copyright">© 2012–2017 Skillstamps Professional Certification Foundations All ready registared.  &nbsp;&nbsp; <a href="terms-condonation.html" >Term & Conditions  </a> &nbsp; <a href="privacy-policy.html" >Privacy Policy</a> &nbsp;  <a href="disclaimer.html">Disclaimer </a></div>
            <div class="topsocial bottom">
              <ul>
                <li><a class="fb" href="https://www.facebook.com/Skillstamps/" target="_blank">Facebook</a></li>
                <li><a class="in" href="https://www.linkedin.com/school/skillstamps/" target="_blank">Linkedin</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

 