
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-10 col-xl-11">
        <div class="logo"><a href="index.html">jjj</a></div>
        <div class="topinfo">
          <ul>
            <li>Ask your Question <span>Courseinfo@skillstamps.com</span></li>
            <li>Hangout <span>skillstamps@gmail.com</span></li>
            <li>Skype ID <span>skillstamps</span></li>
          </ul>
        </div>
      </div>
      <div class="col d-none d-lg-block">
        <div class="topsocial">
          <ul>
            <li><a class="fb" href="#">Facebook</a></li>
            <li><a class="in" href="#">Linkedin</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<!--Header section end--> 

<!--Intro section start-->
<div class="introSection">
  <div class="container">
    <div class="row">
      <div class="col-md-8  col-lg-9">
        <div class="introcontent">
          <h1>Interaction Designer<br/>Certification  
           </h1>
          <p>One Stop collection covering all aspect including Latest Trends happening <br/>across the globe in the UX Design world 
            </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="coursesstartime">
          <h1>Coruse start form</h1>
			<div class='countdown' data-date="2018-01-01"></div><br>
          <div class="eqnuiryNow"><a routerLink="/signup"> Enrole Now</a></div>
          <p>Its Free Course</p>
        </div>
      </div>
    </div>
    <div class="highlightsWrap">
      <div class="contentSection">
        <div class="row fix-gutters">
          <div class="col-md-6 col-lg-3">
            <div class="contentWrap first">
              <h2>Increased Profile Visibility</h2>
              <p>Enhance 3X Visibility across <br/>company 
                  looking for Trained champion</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="contentWrap second">
              <h2>Skillstamp JobAssist</h2>
              <p>ALeverage our HR’s Network built 
                  <br/>over the year 
                  </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="contentWrap third">
              <h2>50+ Real-Life Projects</h2>
              <p>Access to more than 50 Use cases 
                  <br/>solved by our expert mentors 
                  </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="contentWrap forth">
              <h2>Rs.16 lacs - Rs.25 lacs</h2>
              <p>According to Indian market average 
                 <br/> amount certified designer can earn 
                  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Intro section end--> 

<!--Body section start-->
<div class="hmBodyWrap">
  <div class="container"> 
    
    <!--Modules of courses start-->
    <div class="modulesOfcourse">
      <div class="row">
        <div class="col-lg-12">
          <h1>12 Modules inside in this course </h1>
        </div>
      </div>
      <div class="modulesOfcourse_list">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <article> <i>01</i>
              <div class="content">
                <h2>Human Centered design 
                  
                  </h2>
                <p> Understand Full Process of UX Journey and how to use,  Workflow, Persona, Scenarios, Wireframe etc.
                  
                  
                  </p>
              </div>
            </article>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <article> <i>02</i>
              <div class="content">
                <h2>Human Computer Interaction
                  
                  </h2>
                <p> Introductory course on HCI overing the principles, techniques, and open areas of developments.
                  </p>
              </div>
            </article>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <article> <i>03</i>
              <div class="content">
                <h2>Mobile User Experience Design
                  
                  </h2>
                <p> Understand Design Pattern of Material and IOS. Usability based UX and Project Journey.
                  
                  </p>
              </div>
            </article>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <article> <i>04</i>
              <div class="content">
                <h2>Information Visualization
                  
                  </h2>
                <p> Emption Design concept and uses. How to design Dashboard or Data into Graphical guideline and usability 
                  
                  
                  </p>
              </div>
            </article>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <article> <i>05</i>
              <div class="content">
                <h2>Web Design for Usability 
                  
                  </h2>
                <p> Wireframe to design with guideline  Understand screen type and design method. Grid design process. 
                  
                  </p>
              </div>
            </article>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <article> <i>06</i>
              <div class="content">
                <h2>Conducting Usability Testing 
                  
                  </h2>
                <p>  Web & App - How to conduct usability testing,  set test goals, test plan using best practices, test smoothly and effectively, test observations
                  
                  </p>
              </div>
            </article>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <article> <i>07</i>
              <div class="content">
                <h2>User Research Methods 
                  
                  </h2>
                <p> Know about 3 dimensional method of UX research like, AB Testing, Focus Groups
                  Participatory Design 17 more
                  
                 
                  
                  </p>
              </div>
            </article>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <article> <i>08</i>
              <div class="content">
                <h2>Branding & Strategies 
                  
                  </h2>
                <p> Process to thing about brand visual design in logo. Copyright process. Brand persona & Presentations.
                  </p>
              </div>
            </article>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <article> <i>09</i>
              <div class="content">
                <h2>Guideline Design & Structure 
                  
                  </h2>
                <p> How to design Gridline for web and Print. Key elements build complete brand book.
                  </p>
              </div>
            </article>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <article> <i>10</i>
              <div class="content">
                <h2>Digital marketing and Design 
                </h2>
                <p>Digital marketing Introduction. Use of Design into digital marketing, how to make more effective graphic for marketing. 
                  
                  </p>
              </div>
            </article>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <article> <i>11</i>
              <div class="content">
                <h2>Designing Tools & Uses 
                  
                  </h2>
                <p> Best usable tools and uses in design as per need like for App design, UX process, Graphic, Web Design 
                  
                  </p>
              </div>
            </article>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <article> <i>12</i>
              <div class="content">
                <h2>Projects & Evaluation                   
                  </h2>
                <p>Work on Latest Products modules on industries. Build your own confidence  </p>
              </div>
            </article>
          </div>
          
          
         
          
        </div>
      </div>
    </div>
    <!--Modules of courses start--> 
    
    <!--About course section start-->
    <div class="aboutCourseWrap">
      <div class="row">
        <div class="col-md-7 col-lg-8">
          <div class="aboutCouseContent">
            <h1>About this Course</h1>
            <section class="aboutaccordian">
              <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                  <div class="card-header first" role="tab" id="headingOne">
                    <h5 class="mb-0"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> What are the objectives of Interaction Designer Certification ? </a> </h5>
                  </div>
                  <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block">
                      <p>Agenda of this  course is  provides an understand right process to design Learners will gain an understanding of what is involved in UX research, including conducting interviews, evaluating systems, and analyzing systems using principles of good design. Learners will also learn about the work involved in UX Design, including the generation of promising design solutions and the creation of prototypes at multiple levels of fidelity. By interleaving successive phases of UX Research and Design, learners will see how to learn from inevitable mistakes and improve towards a product with a great UX.</p>
                        
                        <p>This course it the complete package of all you will learn more then other sources.  All course are  sync with each other. All learning contents had been designed by experts and current industries case studies.</p>
                        
                        <p>What you'll learn: Human Computer Interaction,
Mobile User Experience Design,
Information Visualization,
Web Design for Usability, 
Conducting usability Testing ,
User Research Methods, 
Branding & Strategies, 
Guideline Design & Structure, 
Digital marketing and Design, 
Designing Tools & Uses, 
Projects & Evaluation, 
</p>
                        
                         </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> What do I need to do to unlock my Skillstamps certificate? </a> </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                      <p>
                        - First attand Online Classroom module wise<br/>
                        - Compleate all Lesion of module for certification<br/>
                        - Successful completion and Examination <br/> </p></div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Who should take this Course?</a> </h5>
                  </div>
                  <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-block"><p>
                      - Aspiring UX designers<br/>
                      Learn how customer-centered design is changing the way businesses operate, and why customer research and validation are key to design success.<br/><br/>
                      
                        
                      - Product managers & entrepreneurs<br/>
                      Customer research, insight, and understanding are the keys to a great product. Learn the tools of the trade and improve your own craft.<br/><br/>
                      
                        
                      - Print/graphic designers<br/>
                      Move beyond print & graphic design and become a well-rounded product designer! Learn how to make the jump into digital by delving into the foundations of UX.</p></div>
                  </div>
                </div>
                
              </div>
            </section>
          </div>
        </div>
        <div class="d-none d-md-block col-md-5  col-lg-4">
          <div class="askQuestionWrap">
            <ul class="downloadWrap">
              <li><a href="#" class="download">Our Process <br/>
                Brochrue</a></li>
              <li><a href="https://www.linkedin.com/school/skillstamps/" target="_blank" class="in">Join our <br/>
                Community</a></li>
            </ul>
            <form #mainForm="ngForm" id="main-form" class="input-form" novalidate>
              <div class="askQuestion">
                <h2>Ask your Question</h2>
                <ul>
                  <li>
                    <div class=" row">
                        <label for="name" [ngClass]="{'active-cl': newQuery?.name}">Full name</label>
                        <input id="name" type="text" [(ngModel)]="newQuery.name" name="name"
                            class="validate" #name="ngModel" required min="0">
                          
                          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                              <p *ngIf="name.errors.required">Name is required.</p>
                          </div>
                    </div>
                  </li>
                  <li>
                      <div class=" row">
                          <label for="email" [ngClass]="{'active-cl': newQuery?.email}">Email Address</label>
                          <input id="name" type="email" [(ngModel)]="newQuery.email" name="email"
                              class="validate" #email="ngModel" required min="0">
                            
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                                <p *ngIf="email.errors.required">Email is required.</p>
                            </div>
                      </div>
                  </li>
                  <li>
                      <div class=" row">
                          <label for="phoneNo" [ngClass]="{'active-cl': newQuery?.phoneNo}">Phone No</label>
                          <input id="phoneNo" type="number" [(ngModel)]="newQuery.phoneNo" name="phoneNo"
                              class="validate" #phoneNo="ngModel" required min="0">
                            
                            <div *ngIf="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched)" class="text-danger">
                                <p *ngIf="phoneNo.errors.required">Phone No is required.</p>
                            </div>
                      </div>
                  </li>
                  <li>
                      <div class=" row">
                          <label for="query" [ngClass]="{'active-cl': newQuery?.query}">Ask your Question</label>
                          <textarea id="query" [(ngModel)]="newQuery.query" name="query"
                              class="validate" #query="ngModel" required min="0"></textarea>
                            
                            <div *ngIf="query.invalid && (query.dirty || query.touched)" class="text-danger">
                                <p *ngIf="query.errors.required">Question required.</p>
                            </div>
                      </div>
                    <!-- <label>Ask your Question</label>
                    <textarea [(ngModel)]="newQuery.query" name='query' required></textarea> -->
                  </li>
                  <li>
                    <input type="submit" value="Submit" (click)='askquery()'>
                    <h3 *ngIf="messages" [ngStyle]="{'color':'green'}">{{messages}}</h3>
                    <h3 [ngStyle]="{'color':'red'}" *ngIf="errormsg"> {{errormsg}}</h3>
                  </li>
                  
                </ul>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--About course section end--> 
    
    <!--certificate section start-->
    <div class="certificateWrap">
      <h1>Certifications Include in this Course 
        </h1>
      <div class="row">
        
          <div class="col-xs-12 col-sm-3">
              <figure><img src="../../../assets/images/01.png"></figure>
              <span>Interaction Designer
              </span> </div>

              <div class="col-xs-12 col-sm-3">
                  <figure><img src="../../../assets/images/09.png"></figure>
                  <span>Human Centered design
                  </span> </div>
          <div class="col-xs-12 col-sm-3">
            <figure><img src="../../../assets/images/02.png"></figure>
            <span>Human Computer Interaction
            </span> </div>
            <div class="col-xs-12 col-sm-3">
              <figure><img src="../../../assets/images/03.png"></figure>
              <span>Mobile UX Design
              </span> </div>
              <div class="col-xs-12 col-sm-3">
                <figure><img src="../../../assets/images/04.png"></figure>
                <span>Information Visualization
                </span> </div>
                <div class="col-xs-12 col-sm-3">
                  <figure><img src="../../../assets/images/05.png"></figure>
                  <span>Web Design for Usability 
                  </span> </div>
                  <div class="col-xs-12 col-sm-3">
                    <figure><img src="../../../assets/images/06.png"></figure>
                    <span>Conducting Usability Testing 
                    </span> </div>
                    <div class="col-xs-12 col-sm-3">
                      <figure><img src="../../../assets/images/08.png"></figure>
                      <span>User Research Methods 
                      </span> </div>

                      <div class="col-xs-12 col-sm-3">
                        <figure><img src="../../../assets/images/07.png"></figure>
                        <span>Branding & Strategies 
                        </span> </div>

      </div>

    </div>
    <!--certificate section end--> 
    
    <!--expersReview section start-->
    <div class="expersReviewWrap">
      <h1>Experts Reviews</h1>
      <div class="row">
          


                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="contentWrap">
                      <div class="head">
                        <figure><img src="../../../assets/images/pic/madhuresh.jpg"  width="221" height="221"></figure>
                        <h2>Madhuresh Pandey<span>Digital Strategy | Product Management</span></h2>
                      </div>
                      <p>Right strategies for eLearning concept. Topic of courses are very depth and useful. I expect you will lonch new more couses for professionals</p></div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                      <div class="contentWrap">
                        <div class="head">
                          <figure><img src="../../../assets/images/pic/anupam.jpg"  width="221" height="221"></figure>
                          <h2>Anupam Singh <span>UI Consultant</span></h2>
                        </div>
                        <p>UI Course its all things cover  this I am sure if you will do that your will crack any interview of UI Development 
          Good for professionals</p>                </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="contentWrap">
                          <div class="head">
                            <figure><img src="../../../assets/images/pic/soumik.jpg"  width="221" height="221"></figure>
                            <h2>Soumik Bhaduri
                                <span>CEO at QUEST</span></h2>
                          </div>
                          <p>eLearning start-up great afford. platform wise its best one I have seen. I like this concept for certifications its easy to use
          </p>                  </div>
                      </div>


      </div>
  </div>
</div>
<!--Body section end-->

<footer>
    <div class="footerTop">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="content">
              <h1><span>HRs Connected</span> 10000+ World Wise</h1>
              <div class="vision">
                <h2>Our Vision</h2>
                <p>Pioneer the revolution in promoting the digital university all across the world  </p>
                  </div>
            </div>
            <figure class="map">
              <div class="pulse one">
                <div class="dot"></div>
              </div>
              <div class="pulse two">
                <div class="dot"></div>
              </div>
              <div class="pulse three">
                <div class="dot"></div>
              </div>
              <div class="pulse forth">
                <div class="dot"></div>
              </div>
              <img src="../../../assets/images/mapimg.jpg" width="836" height="575"></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrightWrap">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="copyright">© 2012–2017 Skillstamps Professional Certification Foundations All ready registared.  &nbsp;&nbsp; <a href="terms-condonation.html" >Term & Conditions  </a> &nbsp; <a href="privacy-policy.html" >Privacy Policy</a> &nbsp;  <a href="disclaimer.html">Disclaimer </a></div>
            <div class="topsocial bottom">
              <ul>
                <li><a class="fb" href="https://www.facebook.com/Skillstamps/" target="_blank">Facebook</a></li>
                <li><a class="in" href="https://www.linkedin.com/school/skillstamps/" target="_blank">Linkedin</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

